# Three Examples of Chapter 2

## Example 3 of Chapter 2

In [1]:
import pandas as pd

In [3]:
names1880 = pd.read_csv('/Users/masoud/Downloads/names/yob1880.txt', names=['name', 'sex', 'births'])

In [4]:
names1880

           name sex  births
0          Mary   F    7065
1          Anna   F    2604
2          Emma   F    2003
3     Elizabeth   F    1939
4        Minnie   F    1746
5      Margaret   F    1578
6           Ida   F    1472
7         Alice   F    1414
8        Bertha   F    1320
9         Sarah   F    1288
10        Annie   F    1258
11        Clara   F    1226
12         Ella   F    1156
13     Florence   F    1063
14         Cora   F    1045
15       Martha   F    1040
16        Laura   F    1012
17       Nellie   F     995
18        Grace   F     982
19       Carrie   F     949
20        Maude   F     859
21        Mabel   F     808
22       Bessie   F     796
23       Jennie   F     793
24     Gertrude   F     787
25        Julia   F     783
26       Hattie   F     769
27        Edith   F     768
28       Mattie   F     704
29         Rose   F     700
...         ...  ..     ...
1970      Philo   M       5
1971    Phineas   M       5
1972    Presley   M       5
1973     Ransom   M       5
1974      Reece   M       5
1975       Rene   M       5
1976    Roswell   M       5
1977    Rowland   M       5
1978    Sampson   M       5
1979     Samual   M       5
1980     Santos   M       5
1981   Schuyler   M       5
1982   Sheppard   M       5
1983   Spurgeon   M       5
1984   Starling   M       5
1985   Sylvanus   M       5
1986   Theadore   M       5
1987  Theophile   M       5
1988     Tilmon   M       5
1989      Tommy   M       5
1990    Unknown   M       5
1991       Vann   M       5
1992        Wes   M       5
1993    Winston   M       5
1994       Wood   M       5
1995     Woodie   M       5
1996     Worthy   M       5
1997     Wright   M       5
1998       York   M       5
1999  Zachariah   M       5

[2000 rows x 3 columns]

In [ ]:
# Great! I do seem to get the files, and my code is able to read them.

In [5]:
names1880.groupby('sex').births.sum()

sex
F     90994
M    110490
Name: births, dtype: int64

In [10]:
years = range(1880, 2018)

In [11]:
pieces = []
columns = ['name', 'sex', 'births']

In [13]:
for year in years:
path = '/Users/masoud/Downloads/names/yob%d.txt' % year
frame = pd.read_csv(path, names=columns)

IndentationError: expected an indented block (<ipython-input-13-1dcd064e587e>, line 2)

In [14]:
frame['year'] = year 
pieces.append(frame)

NameError: name 'year' is not defined

In [1]:
names = pd.concat(pieces, ignore_index=True)

NameError: name 'pd' is not defined

In [2]:
# I have no clue why I get error messages! I am following the commands in example 3 of chapter 2.

# Example 2 of Chapter 2

In [3]:
import pandas as pd

In [4]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip'] 
users = pd.read_table('/Users/masoud/Downloads/ml-1m/users.dat', sep='::', header=None,
names=unames)

/Users/masoud/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('/Users/masoud/Downloads/ml-1m/ratings.dat', sep='::', header=None,
names=rnames)

/Users/masoud/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('/Users/masoud/Downloads/ml-1m/movies.dat', sep='::', header=None,
names=mnames)

/Users/masoud/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# I did manage to download the necessary files. But I am not sure why I get these messages! I am stuck, and don't know how to proceed :(

## Example 1 of Chapter 2

In [8]:
import json
path = 'ch02/usagov_bitly_data2012-03-16-1331923249.txt' 
records = [json.loads(line) for line in open(path)]

FileNotFoundError: [Errno 2] No such file or directory: 'ch02/usagov_bitly_data2012-03-16-1331923249.txt'

In [ ]:
# For this example, I do not seem to get to the directory the file is located at. I spent quite some time to make progress on this one, but I do not seem to get the necessary files!